
<div class="form-group answer">
  <%= f.label :answer, class: 'col-md-2 control-label' %>
  <div class='col-md-8'>
    <div class="input-group">
      <%= f.text_field :answer, class: 'form-control'  %>
      <span class="input-group-addon">
        <%= f.check_box :is_correct %>
      </span>
    </div>
  </div>

  <div class='col-md-2'>
    <div class="remove_answer btn btn-mini btn-danger form-control">Remove</div>
  </div>
</div>
