
<div class="form-group answer">

  <%= f.label :answer, class: 'col-md-2 control-label' %>
  <div class='col-md-8'>
    <%= f.text_field :answer, class: 'form-control'  %>
  </div>
  <div class='col-md-1 checkbox'>
    <%= f.check_box :is_correct %>
  </div>
  <div class='col-md-1'>
    <div class="remove_answer btn btn-mini btn-danger form-control">Remove</div>
  </div>

</div>
