
<div class="form-group lesson">

  <%= f.label :name, class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <%= f.label :link, class: 'col-md-2 control-label' %>
  <div class='col-md-10'>
    <%= f.text_field :link, class: 'form-control'  %>
  </div>

  <div class='col-md-offset-2 col-md-1'>
    <div class="remove_lesson btn btn-mini btn-danger form-control">Remove</div>
  </div>

</div>
