<% if f.object.new_record? %>
  <div class="classification">

      <div class="form-group">
        <%= f.label :name, class: 'col-md-2 control-label' %>
        <div class='col-md-8'>
          <%= f.text_field :name, class: 'form-control'  %>
        </div>
        <div class='col-md-2'>
          <div class="remove_classification btn btn-mini btn-danger form-control">Remove</div>
        </div>
      </div>

  </div>
<% end %>
