<% provide(:title, 'New Quiz') %>
<h1>Create New Quiz</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@quiz, url: quizzes_path) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Add Quiz", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
