<% recursive ||= false %>
<li>
  <%= link_to structure_node.name, category_path(structure_node) %>

  <% if recursive %>
    <ul class="categories">
      <%= render structure_node.children, recursive: recursive %>
    </ul>
  <% end %>
</li>
