<div class='row'>
  <li>
    <div class='col-md-offset-2 col-md-2'>
      <%= tracked_question.question %>
    </div>
    <div class='col-md-2'>
      Created at: <%= tracked_question.created_at %>
    </div>
    <div class='col-md-2'>
      Updated at: <%= tracked_question.updated_at %>
    </div>
  </li>
</div>
