<!-- this is the element our script attaches the SVG element to -->
<object class="tree"></object>

<style>

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var margin = {top: 80, right: 120, bottom: 80, left: 120},
    width = 960 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;

var tree = d3.layout.tree()
    .size([width, height]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.x, height - d.y]; });

var svg = d3.select("object.tree").append("svg")
    .attr("display", "block")
    .attr("margin", "auto")
    .attr("preserveAspectRatio", "xMidYMin")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var json = <%= raw(@jsonNodes) %>

var nodes = tree.nodes(json),
    links = tree.links(nodes);

var link = svg.selectAll("path.link")
    .data(links)
  .enter().append("path")
    .attr("class", "link")
    .attr("d", diagonal);

var node = svg.selectAll("g.node")
    .data(nodes)
  .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.x + "," + (height - d.y) + ")"; })

node.append("circle")
    .attr("r", 35);

node.append("foreignObject")
    .attr("x", -20)
    .attr("y", -20)
    .attr("width", 40)
    .attr("height", 40)
    .append("xhtml")
      .html(function(d) { return "<a href=\"" + d.url + "\" class=\"node-label\">" + d.name + "</a>"; });


d3.select(self.frameElement).style("height", height + "px");

</script>