<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= @user.name %></h3>
  </div>
  <div class='panel-body'>
    Some stuff about you.
  </div>
</div>

<div class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Learning</h3>
  </div>
  <div class='panel-body dash-panel '>
    Some stuff about content you're tracking:
    <br/><br/>
    <ul>
      <li>Tracked Questions: <%= @feedQuestions.count %></li>
    </ul>
  </div>
</div>

<div class='panel panel-success'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Teaching</h3>
  </div>
  <div class='panel-body'>
    Some stuff about content you added.
  </div>
</div>