<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= @user.name %></h3>
  </div>
  <div class='panel-body'>
    Some stuff about you.
  </div>
</div>

<div class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Learning</h3>
  </div>
  <div class='panel-body'>
    Some stuff about content you added.
  </div>
</div>

<div class='panel panel-success'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Teaching</h3>
  </div>
  <div class='panel-body'>
    Some stuff content you're tracking.
  </div>
</div>