  <div class='sidebar-left'>
    <%= render 'dash_left' %>
  </div>
  <div class='main-content'>
    <%= render 'dash_main' %>
  </div>
  <div class='sidebar-right'>
    <%= render 'dash_right' %>
  </div>