<% provide(:title, @lesson.name) %>
<div class="row">
  <%= link_to "&uparrow;".html_safe + @lesson.concept.name, topic_path(@lesson.concept) %>

  <h1>
    <%= @lesson.name %>
  </h1>

  <h2>
    <%= @lesson.link %>
  </h2>

</div>
