<% provide(:title, 'New Topic') %>
<h1>Create New Topic</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@concept, url: topics_path) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Add Topic", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
