// Place all the styles related to the Graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.node-label {
  text-align: center;
  vertical-align: middle;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node.active circle {
  fill: #BCF5A9;
}

.node {
  font: 10px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.friendlink {
  fill: none;
  stroke: #A4A4A4;
  stroke-width: 2px;
  stroke-dasharray: 5,5;
}
